@import "../../../style/index.scss";
.list {
    :global(.status) {
        cursor: pointer;
        &:hover {
            opacity: 0.7;
        }
    }
}
.optionContainer {
    padding-right: 30px;
    display: flex;
    justify-content: flex-end;

    .option+.option {
        margin-left: 30px;
    }

    .label {
        font-size: 14px;
        padding-right: 4px;
    }

    .search {
        width: 246px;
    }
}