@import "../../../style/index.scss";

.imgBtn {
    padding: 2px;
    height: 24px;
    max-width: 24px;
    margin-right: 8px;
    cursor: pointer;
}
.imgBtnSmall {
    padding: 4px;
    margin-top: 2px;
}
.imgBtnLarge {
    padding: 0px;
}